#### CREATE A .db.env
POSTGRES_PASSWORD: 
POSTGRES_USER: 
POSTGRES_DB: 

## CREATE A .core.env

PORT: 5005
SWAGGER_ENV:local

#db
DB_TYPE:
DB_HOST:
DB_PORT:
DB_USERNAME:
DB_PASSWORD:
DB_DATABASE:

#JWT
JWT_SECRET: